.register-form{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 42vh;
}

.passwordStrength{
    color: red;
}

.passwordMatch{
    color: red;
}

.register-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
}